#ignore all files in .idea/
.idea/

*.iml
*.xml

bin/
saves/
# Ignore Gradle project-specific cache directory
.gradle/
.classpath/
.gitattributes/
.project/
.settings/

# Ignore Gradle build output directory
build/

*gradle*